{% extends 'base.html' %}
{% block title %}Member List and new entry{% endblock title %}
{% block content %}
<!-- Box -->
<div class="box">
    <!-- Box Head -->
    <div class="box-head">
        <h2 class="left">All Distributions</h2>
        <div class="right">
            <label>search articles</label>
            <input type="text" class="field small-field" />
            <input type="submit" class="button" value="search" />
        </div>
    </div>
    <!-- End Box Head -->

    <!-- Table -->
    <div class="table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th width="13"><input type="checkbox" class="checkbox" /></th>
                <th>Name</th>
                <th>ID</th>
                <th>Asset</th>
                <th>Assign Date</th>

                <th width="110" class="ac">Content Control</th>
            </tr>
             {% for obj in object_list %}
            <tr>
                <td><input type="checkbox" class="checkbox" /></td>
                <td>{{ obj.member }}</td>
                <td>{{ obj.id }}</td>
                <td>{{ obj.asset }}</td>
                <td>{{ obj.assignment_date }}</td>
                <td><a href='{% url "distributiondelete" obj.id %}' class="ico del">Delete</a><a href='{% url "distributionupdate" obj.id %}' class="ico edit">Edit</a></td>
            </tr>
            {% endfor %}
        </table>


        <!-- Pagging -->
        <div class="pagging">
            <div class="left">Showing 1-12 of 44</div>
            <div class="right">
                <a href="#">Previous</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">245</a>
                <span>...</span>
                <a href="#">Next</a>
                <a href="#">View all</a>
            </div>
        </div>
        <!-- End Pagging -->

    </div>
    <!-- Table -->

</div>
<!-- End Box -->
{% endblock content %}